<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sugarfree">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SUGARFREE"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".DestinationReminder"
            android:exported="true" />
        <activity
            android:name=".ReminderFunc"
            android:exported="true" />
        <activity
            android:name=".ConsultationFunc"
            android:exported="true" />
        <activity
            android:name=".ExerciseFunc"
            android:exported="true" />
        <activity
            android:name=".HealthTipFunc"
            android:exported="true" />
        <activity
            android:name=".DietFunc"
            android:exported="true" />
        <activity
            android:name=".InfoFunc"
            android:exported="true" />
        <activity
            android:name=".Dashboard"
            android:exported="true" />
        <activity
            android:name=".SignInEmt"
            android:exported="true" />
        <activity
            android:name=".LoginEmt"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".ReminderReceiver" />
    </application>

</manifest>